<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
      <div class="row mb-2">
          <div class="col-sm-6">
              <h1>Suivie d'intervention</h1>
          </div>
          <!-- <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active">Blank Page</li>
              </ol>
          </div> -->
      </div>
  </div>
  <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <!-- Default box -->
  <div class="container-fluid">
      <div class="card">
          <div class="card-header">


              <h3 class="card-title ">Date:</h3>
              <h3 class="card-title" style="padding-left: 1%;">{{ formatDate(date) }}</h3>

              <h3 class="card-title" style="padding-left: 75%;">Heure:</h3>
              <h3 class="card-title" style="padding-left: 1%;">{{ formatHeure(date) }}</h3><br><br>

              <div>
                <h2 ><Strong>Provenance</Strong></h2>
              </div>
              <div style="text-align: center;">
                <div class="form-check form-check-inline">
                  <input
                    mdbRadio
                    class="form-check-input"
                    type="radio"
                    name="inlineRadioOptions"
                    id="inlineRadio1"
                    value="option1"
                    [checked]="true"
                  />
                  <label class="form-check-label" for="inlineRadio1">Appel Verbal</label>
                </div>
                <div class="form-check form-check-inline">
                  <input
                    mdbRadio
                    class="form-check-input"
                    type="radio"
                    name="inlineRadioOptions"
                    id="inlineRadio2"
                    value="option2"
                    [disabled]="true"
                  />
                  <label class="form-check-label" for="inlineRadio2">    T.U</label>
                </div>
                <div class="form-check form-check-inline">
                  <input
                    mdbRadio
                    class="form-check-input"
                    type="radio"
                    name="inlineRadioOptions"
                    id="inlineRadio3"
                    value="option3"
                    [disabled]="true"
                  />
                  <label class="form-check-label" for="inlineRadio3">18 ou 112</label>
                </div>
                <div class="form-check form-check-inline">
                  <input
                    mdbRadio
                    class="form-check-input"
                    type="radio"
                    name="inlineRadioOptions"
                    id="inlineRadio3"
                    value="option3"
                    [disabled]="true"
                  />
                  <label class="form-check-label" for="inlineRadio3">Police</label>
                </div>
                <div class="form-check form-check-inline">
                  <input
                    mdbRadio
                    class="form-check-input"
                    type="radio"
                    name="inlineRadioOptions"
                    id="inlineRadio3"
                    value="option3"
                    [disabled]="true"
                  />
                  <label class="form-check-label" for="inlineRadio3">Gendarmerie</label>
                </div>
                <div class="form-check form-check-inline">
                  <input
                    mdbRadio
                    class="form-check-input"
                    type="radio"
                    name="inlineRadioOptions"
                    id="inlineRadio3"
                    value="option3"
                    [disabled]="true"
                  />
                  <label class="form-check-label" for="inlineRadio3">Radio</label>
                </div>
              </div><br>

                    <div>
                      <h2 ><strong>Incident</strong></h2>
                    </div>
                    <form class="forms-sample" (ngSubmit)="onSubmit()">
                      <div class="row row-sm mg-b-20 " >
                        <div class="col-lg-6 form-group ">
                          <p class="mg-b-10">Category</p>
                          <h3 class="card-title"> Accident</h3>
                        </div>

                        <div class="col-lg-6 form-group ">
                          <p class="mg-b-10">Libele</p>
                          <h3 class="card-title"> Accident</h3>
                        </div>
                      </div>
                      <div class="form-group">
                        <h3 for="exampleTextarea1">Commentaire</h3>
                        <h3 class="card-title"> Bléssé grave</h3>
                      </div><br><br>
                      <div>
                        <h2 ><strong>Appelant</strong></h2>
                      </div>
                      <!-- <div class="form-group">
                        <label for="exampleInputUsername1">Numero</label>
                        <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Number">
                      </div> -->
                      <div class="rows">
                        <div class="form-group">
                          <h3 class="card-title">Appelant:</h3>
             <h3 class="card-title" style="padding-left: 1%;">{{ formatDate(date) }}</h3>
                        </div>
                      <div class="form-group"  style="margin-left: 40%;">
                        <h3 class="card-title" for="exampleInputEmail1">Address</h3>
                        <h3 class="card-title" style="padding-left: 1%;">{{ formatDate(date) }}</h3>
                      </div>
                      <div class="form-group" style="margin-left: 70%;" >
                      <h3 class="card-title" >Coordonnée:</h3>
                      <h3 class="card-title"style="padding-left: 1%;">{{ date }}</h3>
                      </div>
                    </div>
              <!-- <div class="card-tools">
                  <button
                      type="button"
                      class="btn btn-tool"
                      data-widget="collapse"
                      data-toggle="tooltip"
                      title="Collapse"
                  >
                      <i class="fa fa-minus"></i>
                  </button>
                  <button
                      type="button"
                      class="btn btn-tool"
                      data-widget="remove"
                      data-toggle="tooltip"
                      title="Remove"
                  >
                      <i class="fa fa-times"></i>
                  </button>
              </div> -->
                    </form>
            </div>

          <div class="card-body">
            <div>
              <h3 >Compagnie</h3>
              <h5 >Commentaire</h5>
            </div>
                     <form>
                      <div class="table-responsive">
                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <th>Engin</th>
                              <th>Heure de Départ</th>
                              <th>Présentation</th>
                              <th>Disponibilité</th>
                              <th>Rentré</th>
                              <th>
                                <pf-button (click)="open(content)">
                                  <i class="fa fa-plus"></i>
                                </pf-button>
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Fourgon</td>
                              <td><input name="time" type="text" [(ngModel)]="time"></td>
                              <td><textarea></textarea></td>
                              <td ><textarea></textarea></td>
                              <td ><pf-checkbox style=" margin-top:25%; margin-left:25%"></pf-checkbox></td>
                              <td class="row">
                                <pf-button *ngIf="time===null">
                                <i class="fa fa-trash" style="color: red;"></i>
                              </pf-button>
                              <pf-button style="margin-left: 1%;">
                                <i class="fa fa-check" style="color: rgb(9, 255, 9);"></i>
                              </pf-button>
                            </td>
                            </tr>
                            <tr>
                              <td>PSR1</td>
                              <td><input name="time" type="text" [(ngModel)]="time"></td>
                              <td><textarea></textarea></td>
                              <td ><textarea></textarea></td>
                              <td><pf-checkbox style=" margin-top:25%; margin-left:25%"></pf-checkbox></td>
                              <td class="row">
                                <pf-button *ngIf="time===null">
                                <i class="fa fa-trash" style="color: red;"></i>
                              </pf-button>
                              <pf-button style="margin-left: 1%;">
                                <i class="fa fa-check" style="color: rgb(9, 255, 9);"></i>
                              </pf-button>
                            </td>
                            </tr>
                            <tr>
                              <td>Citerne</td>
                              <td><input name="time" type="text" [(ngModel)]="time"></td>
                              <td><textarea></textarea></td>
                              <td ><textarea></textarea></td>
                              <td><pf-checkbox style=" margin-top:25%; margin-left:25%"></pf-checkbox></td>
                              <td class="row">
                                <pf-button *ngIf="time===null" >
                                <i class="fa fa-trash" style="color: red;"></i>
                              </pf-button>
                              <pf-button style="margin-left: 1%;">
                                <i class="fa fa-check" style="color: rgb(9, 255, 9);"></i>
                              </pf-button>
                            </td>
                            </tr>
                            <tr>
                              <td>PSR2</td>
                              <td><input name="time" type="text" [(ngModel)]="time"></td>
                              <td><textarea></textarea></td>
                              <td ><textarea></textarea></td>
                              <td><pf-checkbox style=" margin-top:25%; margin-left:25%"></pf-checkbox></td>
                              <td class="row">
                                <pf-button *ngIf="time===null">
                                <i class="fa fa-trash" style="color: red;"></i>
                              </pf-button>
                              <pf-button style="margin-left: 1%;">
                                <i class="fa fa-check" style="color: rgb(9, 255, 9);"></i>
                              </pf-button>
                            </td>
                            </tr>
                            <tr>
                              <td>Premier Secours</td>
                              <td><input name="time" type="text" [(ngModel)]="time"></td>
                              <td><textarea></textarea></td>
                              <td ><textarea></textarea></td>
                              <td><pf-checkbox style=" margin-top:25%; margin-left:25%"></pf-checkbox></td>
                              <td class="row">
                                <pf-button *ngIf="time===null">
                                <i class="fa fa-trash" style="color: red;"></i>
                              </pf-button>
                              <pf-button style="margin-left: 1%;">
                                <i class="fa fa-check" style="color: rgb(9, 255, 9);"></i>
                              </pf-button>
                            </td>
                            </tr>

                          </tbody>
                        </table>
                      </div>

                    </form>

          </div>
          <!-- /.card-body -->
          <div class="card-footer">
            <div>
              <h3 >Message</h3>
            </div>
            <form>
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>

                      <th>Heure d'émission</th>
                      <th>Text du méssage</th>
                      <th>Heure de Réception</th>

                      <th>
                        <pf-button (click)="open(content)">
                          <i class="fa fa-plus"></i>
                        </pf-button>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>

                      <td><input name="time" type="text" [(ngModel)]="time"></td>
                      <td><textarea></textarea></td>
                      <td ><textarea></textarea></td>

                      <td class="row">
                        <pf-button *ngIf="time===null">
                        <i class="fa fa-trash" style="color: red;"></i>
                      </pf-button>
                      <pf-button style="margin-left: 1%;">
                        <i class="fa fa-check" style="color: rgb(9, 255, 9);"></i>
                      </pf-button>
                    </td>
                    </tr>
                    <tr>

                      <td><input name="time" type="text" [(ngModel)]="time"></td>
                      <td><textarea></textarea></td>
                      <td ><textarea></textarea></td>

                      <td class="row">
                        <pf-button *ngIf="time===null">
                        <i class="fa fa-trash" style="color: red;"></i>
                      </pf-button>
                      <pf-button style="margin-left: 1%;">
                        <i class="fa fa-check" style="color: rgb(9, 255, 9);"></i>
                      </pf-button>
                    </td>
                    </tr>
                    <tr>

                      <td><input name="time" type="text" [(ngModel)]="time"></td>
                      <td><textarea></textarea></td>
                      <td ><textarea></textarea></td>

                      <td class="row">
                        <pf-button *ngIf="time===null" >
                        <i class="fa fa-trash" style="color: red;"></i>
                      </pf-button>
                      <pf-button style="margin-left: 1%;">
                        <i class="fa fa-check" style="color: rgb(9, 255, 9);"></i>
                      </pf-button>
                    </td>
                    </tr>
                    <tr>

                      <td><input name="time" type="text" [(ngModel)]="time"></td>
                      <td><textarea></textarea></td>
                      <td ><textarea></textarea></td>

                      <td class="row">
                        <pf-button *ngIf="time===null">
                        <i class="fa fa-trash" style="color: red;"></i>
                      </pf-button>
                      <pf-button style="margin-left: 1%;">
                        <i class="fa fa-check" style="color: rgb(9, 255, 9);"></i>
                      </pf-button>
                    </td>
                    </tr>
                    <tr>

                      <td><input name="time" type="text" [(ngModel)]="time"></td>
                      <td><textarea></textarea></td>
                      <td ><textarea></textarea></td>

                      <td class="row">
                        <pf-button *ngIf="time===null">
                        <i class="fa fa-trash" style="color: red;"></i>
                      </pf-button>
                      <pf-button style="margin-left: 1%;">
                        <i class="fa fa-check" style="color: rgb(9, 255, 9);"></i>
                      </pf-button>
                    </td>
                    </tr>

                  </tbody>
                </table>
              </div>
                <!-- <button type="submit" class="btn btn-primary mr-2" routerLink="['/sub-menu2']">Suivant</button>
                <button class="btn btn-light">Cancel</button> -->
            </form>
          </div>
          <!-- /.card-footer-->
      </div>
  </div>
  <!-- /.card -->
</section>
<!-- /.content -->
<section>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Choix des vehicules d'interventions</h4>
      <!-- <button type="button" class="fa fa-minus" aria-label="Close" (click)="modal.dismiss('Cross click')"></button> -->
      <pf-button type="button" aria-label="Close" (click)="modal.dismiss('Cross click')"><i
          class="fa fa-minus"></i></pf-button>
    </div>
    <div class="modal-body">
      <div class="card-body">
        <form>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Choix</th>
                  <th>Voiture</th>
                  <th>Fonction</th>
                  <th>Nom</th>
                  <th>Grade</th>
                  <th>Remplacement </th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><pf-checkbox style=" margin-top:150%; margin-left:25%"></pf-checkbox></td>
                  <td>Premier Secours</td>
                  <td>
                    <p>CA</p>
                    <p>CH</p>
                    <p>SVT</p>
                    <p>HDL</p>
                    <p>Cond</p>
                  </td>
                  <td>
                    <p>Oumarou BATIONO</p>
                    <p>Christine BAMA</p>
                    <p>Estelle DIBLONI</p>
                    <p>Christian GREY</p>
                    <p>John Doe</p>
                  </td>
                  <td>
                    <p>Sergent</p>
                    <p>Caporal</p>
                    <p>Planton</p>
                    <p>Colonel</p>
                    <p>Sergent</p>
                  </td>
                  <td>
                    <p>Oumarou BATIONO</p>
                    <p>Christine BAMA</p>
                    <p>Estelle DIBLONI</p>
                    <p>Christian GREY</p>
                    <p>Jane Doe</p>
                  </td>
                  <td>Disponible</td>

                </tr>
                <tr>
                  <td><pf-checkbox style=" margin-top:200%; margin-left:25%"></pf-checkbox></td>
                  <td>Fourgon</td>
                  <td>
                    <p>SDA</p>
                    <p>HDL</p>
                    <p>1 CH</p>
                    <p>1 SVT</p>
                    <p>2 CH</p>
                    <p>2 SVT</p>
                    <p>2 SVT</p>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>

                </tr>
                <tr>
                  <td><pf-checkbox style=" margin-top:90%; margin-left:25%"></pf-checkbox></td>
                  <td>PSR N°1</td>
                  <td>
                    <p>CHEF</p>
                    <p>SVT</p>
                    <p>Cond</p>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>

                </tr>
                <tr>
                  <td><pf-checkbox style=" margin-top:90%; margin-left:25%"></pf-checkbox></td>
                  <td>PSR N°2</td>
                  <td>
                    <p>CHEF</p>
                    <p>SVT</p>
                    <p>Cond</p>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>

                </tr>
                <tr>
                  <td><pf-checkbox style=" margin-top:90%; margin-left:25%"></pf-checkbox></td>
                  <td>PSR N°3</td>
                  <td>
                    <p>CHEF</p>
                    <p>SVT</p>
                    <p>Cond</p>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>

                </tr>
                <tr>
                  <td><pf-checkbox style=" margin-top:90%; margin-left:25%"></pf-checkbox></td>
                  <td>V.I.D</td>
                  <td>
                    <p>CHEF</p>
                    <p>SVT</p>
                    <p>Cond</p>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td><pf-checkbox style=" margin-top:90%; margin-left:25%"></pf-checkbox></td>
                  <td>ECHELLE</td>
                  <td>
                    <p>CHEF</p>
                    <p>SVT</p>
                    <p>Cond</p>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>

                </tr>
                <tr>
                  <td><pf-checkbox style=" margin-top:200%; margin-left:25%"></pf-checkbox></td>
                  <td>VEHICULE DESINC</td>
                  <td>
                    <p>CH.A</p>
                    <p>1 CH</p>
                    <p>1 SVT</p>
                    <p>2 CH</p>
                    <p>2 SVT</p>
                    <p>Cond</p>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>

                </tr>
                <tr>
                  <td><pf-checkbox style=" margin-top:200%; margin-left:25%"></pf-checkbox></td>
                  <td>CSL</td>
                  <td>
                    <p>CH.A</p>
                    <p>1 CH</p>
                    <p>1 SVT</p>
                    <p>2 CH</p>
                    <p>2 SVT</p>
                    <p>Cond</p>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>

                </tr>
                <tr>
                  <td><pf-checkbox style=" margin-top:90%; margin-left:25%"></pf-checkbox></td>
                  <td>CITERNE</td>
                  <td>
                    <p>CH.A</p>
                    <p>SVT</p>
                    <p>Cond</p>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>

                </tr>

              </tbody>
            </table>
          </div>

        </form>

      </div>
    </div>
    <div class="modal-footer">
      <!-- <button type="button" class="btn btn-light" (click)="modal.close('Close click')">save</button>-->
      <pf-button type="button" class="btn btn-light" (click)="modal.close('Close click')">save</pf-button>
    </div>
  </ng-template>
</section>
