<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Liste des interventions</h1>
      </div>
      <!-- <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Blank Page</li>
                </ol>
            </div> -->
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <!-- Default box -->
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Date</th>
                <th>Message</th>
                <th>Incident</th>
                <th>Nom de l'appellant</th>
                <th>Numero de l'appellant</th>
                <th>Etat</th>
                <th>Validation</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let intervention of listeIntervention">
                <td [width]="120">{{ intervention.key.intervention.date }}</td>
                <td [width]="150">{{ intervention.message }}</td>
                <td [width]="200">{{ intervention.key.intervention.incident.type }}</td>
                <td> {{ intervention.key.intervention.caller.name }}</td>
                <td>{{ intervention.key.intervention.caller.phoneNumber }}</td>
                <td>{{ intervention.key.intervention.done ? 'Terminé' : 'En cours' }}</td>
                <td> </td>
              </tr>
            </tbody>
          </table>
        </div>


      </div>

    </div>
  </div>
  <!-- /.card -->
</section>
<!-- /.content -->
