<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
      <div class="row mb-2">
          <div class="col-sm-6">
              <h1>Engin</h1>
          </div>
          <!-- <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active">Blank Page</li>
              </ol>
          </div> -->
      </div>
  </div>
  <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <!-- Default box -->
  <div class="container-fluid">
      <div class="card">
          <div class="card-header">
            <h3 class="card-title">Formualaire de création d'un Vehicule</h3>
          </div>
          <div class="col-12 grid-margin">

              <div class="card-body">
                <form class="form-sample" [formGroup]="enginForm" (ngSubmit)="onSubmit()">
                  <p class="card-description">
                    <strong>Caserne Et Véhicule</strong>
                  </p>
                  <div class="row" >
                    <div class="col-md-6">
                      <div class="form-group row" >
                        <p class="col-sm-3 col-form-label">Liste Caserne </p>
                        <div class="col-sm-9" >
                          <select class="form-control" formControlName="caserneId" >
                            <option *ngFor="let c of caserne" value="{{c.id}}">{{c.name}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row" >
                        <p class="col-sm-3 col-form-label">Vehicule</p>
                        <div class="col-sm-9">
                          <select class="form-control" formControlName="enginTypeId" >
                            <option value=1>PREMIER_SECOURS</option>
                            <option value=2>FOURGON</option>
                            <option value=3>PREMIER_SECOURS_RELEVABLE</option>
                            <option value=4>INTERVENTION_DIVERSE</option>
                            <option value=5>DESINCARCERATION</option>
                            <option value=6>ECHELLE</option>
                            <option value=7>CANOT_SAUVETAGE_LEGER</option>
                            <option value=8>CITERNE</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <p class="card-description ">
                    <strong>Information </strong>
                  </p>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <p class="col-sm-3 col-form-p">Immatriculation</p>
                        <div class="col-sm-9">
                          <input type="text" class="form-control"formControlName="immatriculation" />
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <p class="col-sm-3 col-form-p">Description</p>
                        <div class="col-sm-9">
                          <textarea type="text" class="form-control" formControlName="description"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
          </div>
          <!-- /.card-body -->

          <div class="card-footer">
            <pf-button type="submit"  style="margin-left: 90%;" (click)="onSubmit()">Submit</pf-button>
          </div>
          <!-- /.card-footer-->
      </div>
  </div>
  <!-- /.card -->
</section>
<!-- /.content -->


