<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
      <div class="row mb-2">
          <div class="col-sm-6">
              <h1>Fiche de garde</h1>
          </div>
          <!-- <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active">Blank Page</li>
              </ol>
          </div> -->
      </div>
  </div>
  <!-- /.container-fluid -->
</section>

<section class="content">
  <div class="grid-margin stretch-card container-fluid">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Fiche</h4>
        <div class="row" *ngIf="isAdmin === true">
          <div class="col-md-6">
            <div class="form-group row">
              <p class="col-sm-4 col-form-p">Trier par caserne</p>
              <div class="col-sm-6">
                <select class="form-control" [(ngModel)]="sort">
                  <option [ngValue]="0">Tous les Vehicule</option>
                  <option *ngFor="let c of caserne" [ngValue]="c.id">{{c.name}}</option>
                </select>
              </div>
              <div class="col-md-2" style="margin-left: 70%;">
                <div class="form-group row">
                  <div>
                    <pf-button *ngIf="sort !== 0" (click)="getTeam()">Triez</pf-button>
                    <pf-button *ngIf="sort === 0" (click)="getEngin()">Triez</pf-button>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6" style="margin-left:-10%">
            <div class="form-group row">
              <p class="col-sm-4 col-form-p">Chercher par date</p>
              <div class="col-sm-6">
                <input type="date" class="form-control" [(ngModel)]="date" placeholder="dd-mm-yyy" />
              </div>
              <div class="col-md-2" style="margin-left: 64%;">
                <div class="form-group row">
                  <div>
                    <pf-button (click)="getProgram(date)" (click)="openRead(content2)">Chercher</pf-button>
                    <!-- <pf-button *ngIf="sort === 0" (click)="getEngin()">Triez</pf-button> -->
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="button-container" style="margin-left: -7%;">
            <button class="btn btn-primary prog" (click)="openCreate(content)">Créer un Programme</button>
            <button class="btn btn-secondary prog" (click)="openCreate(content1)" *ngIf="idprogram !==0">Ajouter des
              Equipes</button>
          </div>



        </div>
        <div class="row" *ngIf="isAdmin === false">
          <div class="col-md-6" style="margin-left: 25%;">
            <div class="form-group row">
              <p class="col-sm-4 col-form-p">Chercher par date</p>
              <div class="col-sm-6">
                <input type="date" class="form-control" [(ngModel)]="date" placeholder="dd-mm-yyy" />
              </div>
              <div class="col-md-2" style="margin-left: 64%;">
                <div class="form-group row">
                  <div>
                    <pf-button (click)="getProgram(date)" (click)="openRead(content2)">Chercher</pf-button>
                    <!-- <pf-button *ngIf="sort === 0" (click)="getEngin()">Triez</pf-button> -->
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="button-container" style="margin-left: 5%;">
            <button class="btn btn-primary prog" (click)="openCreate(content)">Créer un Programme</button>
            <button class="btn btn-secondary prog" (click)="openCreate(content1)" *ngIf="idprogram !==0">Ajouter des
              Equipes</button>
          </div>



        </div>
        <div class="table-responsive" *ngIf="isAdmin === true">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>Choix</th>
                <th>Compagnie</th>
                <th>Date</th>
                <th>CAP Principale du jour</th>
                <th>CAP Remplacant du jour</th>
                <th>SGT Principale du jour</th>
                <th>SGT Remplacant du jour</th>
                <th></th>
              </tr>
            </thead>
            <tbody *ngFor="let program of donneesPaginees2">
              <tr *ngIf="program === null">
                <td> </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td [width]="120"><i class="fa fa-eye" style="color: rgb(9, 255, 0);" (click)="openRead(content2)"></i>
                  <i class="fa fa-edit" (click)="openEdit(content1)" style="margin-left: 10%;"></i>
                  <i class="fa fa-trash" style="color: red; margin-left: 10%" (click)="openSupp(content3)"></i>
                </td>
                <td></td>
                <td></td>
              </tr>
              <!-- <tr *ngIf="program !== null" >
                <td> {{program.date }} </td>
                <td>{{ getTeamName('CAPORAL', 'PRINCIPAL')[0]  }}</td>
                <td>{{ getTeamName('CAPORAL', 'REMPLACANT')[1]  }}</td>
                <td>{{ getTeamName('SGT', 'PRINCIPAL')[0] }}</td>
                <td>{{ getTeamName('SGT', 'REMPLACANT')[1]}}</td>
                <td [width]="120"><i class="fa fa-eye" style="color: rgb(9, 255, 0);" (click)="openRead(content2)" ></i>
                  <i class="fa fa-edit" (click)="openEdit(content1)" style="margin-left: 10%;"></i>
                  <i class="fa fa-trash" style="color: red; margin-left: 10%"  (click)="openSupp(content3)"></i></td>

              </tr> -->
              <!-- <tr *ngIf="program !== null">
                <td><input type="radio" name="choixId" id="choixId" (click)="changeidprogram(program.id)"></td>
                <td> {{program.date }} </td>
                <td *ngFor="let t of program.caporalTeam.agents ">{{t.principalFirstname}} {{t.principalLastname}} </td>
                <td *ngFor="let t of program.caporalTeam.agents "> {{t.secondFirstname}} {{t.secondLastname}}</td>
                <td *ngFor="let t of program.sergentTeam.agents ">{{t.principalFirstname}} {{t.principalLastname}}</td>
                <td *ngFor="let t of program.sergentTeam.agents ">{{t.secondFirstname}} {{t.secondLastname}}</td>
                <td [width]="120" style="align-items: center;text-align:center"><i class="fa fa-eye" style="color: rgb(9, 255, 0);" (click)="openRead(content2)"  (click)="getProgram(program.date)" ></i>
                  <i class="fa fa-edit" (click)="openEdit(content3)" (click)="getProgram(program.date)" style="margin-left: 20%;"></i>
                  <i class="fa fa-trash" style="color: red; margin-left: 10%"  (click)="openSupp(content3)"></i>
                  </td>

              </tr> -->
              <tr *ngIf="program !== null">
                <td><input type="radio" name="choixId" id="choixId" (click)="changeidprogram(program.id)"></td>
                <td>{{ program.caserneName}}</td>
                <td> {{program.date}} </td>
                <ng-container
                  *ngIf="program.caporalTeam && program.caporalTeam.agents && program.caporalTeam.agents.length > 0">
                  <td *ngFor="let t of program.caporalTeam.agents">
                    {{t.principalFirstname ? t.principalFirstname + ' ' : ''}}
                    {{t.principalLastname ? t.principalLastname : ''}}
                  </td>
                  <td *ngFor="let t of program.caporalTeam.agents">
                    {{t.secondFirstname ? t.secondFirstname + ' ' : ''}}
                    {{t.secondLastname ? t.secondLastname : ''}}
                  </td>
                </ng-container>
                <ng-container
                  *ngIf="program.sergentTeam && program.sergentTeam.agents && program.sergentTeam.agents.length > 0">
                  <td *ngFor="let t of program.sergentTeam.agents">
                    {{t.principalFirstname ? t.principalFirstname + ' ' : ''}}
                    {{t.principalLastname ? t.principalLastname : ''}}
                  </td>
                  <td *ngFor="let t of program.sergentTeam.agents">
                    {{t.secondFirstname ? t.secondFirstname + ' ' : ''}}
                    {{t.secondLastname ? t.secondLastname : ''}}
                  </td>
                </ng-container>
                <td [width]="120" style="align-items: center; text-align: center">
                  <i class="fa fa-eye" style="color: rgb(9, 255, 0);" (click)="openRead(content2)"
                    (click)="getProgram(program.date)"></i>
                  <i class="fa fa-edit" (click)="openEdit(content3)" (click)="getProgram(program.date)"
                    style="margin-left: 20%;"></i>
                  <!-- <i class="fa fa-trash" style="color: red; margin-left: 10%" (click)="openSupp(content3)"></i> -->
                </td>
              </tr>

            </tbody>
          </table>

        </div>
        <div class="table-responsive" *ngIf="isAdmin === false">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>Choix</th>
                <th>Date</th>
                <th>CAP Principale du jour</th>
                <th>CAP Remplacant du jour</th>
                <th>SGT Principale du jour</th>
                <th>SGT Remplacant du jour</th>
                <th></th>
              </tr>
            </thead>
            <tbody *ngFor="let program of donneesPaginees">
              <tr *ngIf="program === null">
                <td> </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td [width]="120"><i class="fa fa-eye" style="color: rgb(9, 255, 0);" (click)="openRead(content2)"></i>
                  <i class="fa fa-edit" (click)="openEdit(content1)" style="margin-left: 10%;"></i>
                  <i class="fa fa-trash" style="color: red; margin-left: 10%" (click)="openSupp(content3)"></i>
                </td>

              </tr>
              <!-- <tr *ngIf="program !== null" >
                <td> {{program.date }} </td>
                <td>{{ getTeamName('CAPORAL', 'PRINCIPAL')[0]  }}</td>
                <td>{{ getTeamName('CAPORAL', 'REMPLACANT')[1]  }}</td>
                <td>{{ getTeamName('SGT', 'PRINCIPAL')[0] }}</td>
                <td>{{ getTeamName('SGT', 'REMPLACANT')[1]}}</td>
                <td [width]="120"><i class="fa fa-eye" style="color: rgb(9, 255, 0);" (click)="openRead(content2)" ></i>
                  <i class="fa fa-edit" (click)="openEdit(content1)" style="margin-left: 10%;"></i>
                  <i class="fa fa-trash" style="color: red; margin-left: 10%"  (click)="openSupp(content3)"></i></td>

              </tr> -->
              <!-- <tr *ngIf="program !== null">
                <td><input type="radio" name="choixId" id="choixId" (click)="changeidprogram(program.id)"></td>
                <td> {{program.date }} </td>
                <td *ngFor="let t of program.caporalTeam.agents ">{{t.principalFirstname}} {{t.principalLastname}} </td>
                <td *ngFor="let t of program.caporalTeam.agents "> {{t.secondFirstname}} {{t.secondLastname}}</td>
                <td *ngFor="let t of program.sergentTeam.agents ">{{t.principalFirstname}} {{t.principalLastname}}</td>
                <td *ngFor="let t of program.sergentTeam.agents ">{{t.secondFirstname}} {{t.secondLastname}}</td>
                <td [width]="120" style="align-items: center;text-align:center"><i class="fa fa-eye" style="color: rgb(9, 255, 0);" (click)="openRead(content2)"  (click)="getProgram(program.date)" ></i>
                  <i class="fa fa-edit" (click)="openEdit(content3)" (click)="getProgram(program.date)" style="margin-left: 20%;"></i>
                  <i class="fa fa-trash" style="color: red; margin-left: 10%"  (click)="openSupp(content3)"></i>
                  </td>

              </tr> -->
              <tr *ngIf="program !== null">
                <td><input type="radio" name="choixId" id="choixId" (click)="changeidprogram(program.id)"></td>
                <td> {{program.date}} </td>
                <ng-container
                  *ngIf="program.caporalTeam && program.caporalTeam.agents && program.caporalTeam.agents.length > 0">
                  <td *ngFor="let t of program.caporalTeam.agents">
                    {{t.principalFirstname ? t.principalFirstname + ' ' : ''}}
                    {{t.principalLastname ? t.principalLastname : ''}}
                  </td>
                  <td *ngFor="let t of program.caporalTeam.agents">
                    {{t.secondFirstname ? t.secondFirstname + ' ' : ''}}
                    {{t.secondLastname ? t.secondLastname : ''}}
                  </td>
                </ng-container>
                <ng-container
                  *ngIf="program.sergentTeam && program.sergentTeam.agents && program.sergentTeam.agents.length > 0">
                  <td *ngFor="let t of program.sergentTeam.agents">
                    {{t.principalFirstname ? t.principalFirstname + ' ' : ''}}
                    {{t.principalLastname ? t.principalLastname : ''}}
                  </td>
                  <td *ngFor="let t of program.sergentTeam.agents">
                    {{t.secondFirstname ? t.secondFirstname + ' ' : ''}}
                    {{t.secondLastname ? t.secondLastname : ''}}
                  </td>
                </ng-container>
                <td [width]="120" style="align-items: center; text-align: center">
                  <i class="fa fa-eye" style="color: rgb(9, 255, 0);" (click)="openRead(content2)"
                    (click)="getProgram(program.date)"></i>
                  <i class="fa fa-edit" (click)="openEdit(content3)" (click)="getProgram(program.date)"
                    style="margin-left: 20%;"></i>
                  <!-- <i class="fa fa-trash" style="color: red; margin-left: 10%" (click)="openSupp(content3)"></i> -->
                </td>
              </tr>

            </tbody>
          </table>

        </div>
        <div class="pagination-container" style="display:flex; justify-content:center" *ngIf="isAdmin === true">
          <!-- <ngb-pagination
  [(page)]="page"
  [pageSize]="pageSize"
  [collectionSize]="collectionSize">
</ngb-pagination> -->
          <ngb-pagination [collectionSize]="listeProgram2.length" [pageSize]="pageSize" [(page)]="page"
            [maxSize]="3"></ngb-pagination>

        </div>
        <div class="pagination-container" style="display:flex; justify-content:center" *ngIf="isAdmin === false">
          <!-- <ngb-pagination
  [(page)]="page"
  [pageSize]="pageSize"
  [collectionSize]="collectionSize">
</ngb-pagination> -->
          <ngb-pagination [collectionSize]="listeProgram.length" [pageSize]="pageSize" [(page)]="page"
            [maxSize]="3"></ngb-pagination>

        </div>
      </div>
    </div>
  </div>
</section>



<section>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h3 class="modal-title">Formulaire de création d'une Fiche</h3>
    </div>
    <div class="modal-body">
      <div class="card-body">
        <form class="form-sample" [formGroup]="ficheForm" (ngSubmit)="onSubmit()">
          <p class="card-description">
            <strong>Date</strong>
          </p>
          <div class="row" >
            <div class="col-md-6">
              <div class="form-group row" >
                <p class="col-sm-3 col-form-label">Date</p>
                <div class="col-sm-9" >
                  <input class="form-control" type="date" id="date" formControlName="date">
                  <div *ngIf="ficheForm.get('date').invalid && (ficheForm.get('date').dirty || ficheForm.get('date').touched)"
                    class="alert alert-danger">
                    <div *ngIf="ficheForm.get('date').errors.required">
                      La date est requise.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
        <form class="form-sample" [formGroup]="CaporalForm" (ngSubmit)="onSubmit()">
          <p class="card-description">
            <strong>CAP du Jour</strong>
          </p>
          <div class="row" >
            <div class="col-md-6">
              <div class="form-group row" >
                <p class="col-sm-3 col-form-label">Principale</p>
                <div class="col-sm-9" >
                  <!-- <input class="form-control" type="text" id="caporal-principal" formControlName="principal"> -->
                  <select class="form-control" id="caporal-principal" formControlName="principal" *ngIf="isAdmin === true">
                    <option *ngFor="let u of users" value={{u.id}}>{{u.firstname}} {{u.lastname}} {{u.caserne.name}}</option>
                  </select>
                  <select class="form-control" id="caporal-principal" formControlName="principal" *ngIf="isAdmin === false">
                    <option *ngFor="let u of usersCaserne" value={{u.id}}>{{u.firstname}} {{u.lastname}}</option>
                  </select>
                  <div
                    *ngIf="CaporalForm.get('principal').invalid && (CaporalForm.get('principal').dirty || CaporalForm.get('principal').touched)"
                    class="alert alert-danger">
                    Le caporal principal est requis.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row" >
                <p class="col-sm-3 col-form-label">Remplaçant</p>
                <div class="col-sm-9" >
                  <!-- <input class="form-control" type="text" id="caporal-remplacant" formControlName="remplacant"> -->
                  <select class="form-control" id="caporal-principal" formControlName="remplacant" *ngIf="isAdmin === true">
                    <option *ngFor="let u of users" value={{u.id}}>{{u.firstname}} {{u.lastname}} {{u.caserne.name}}</option>
                  </select>
                  <select class="form-control" id="caporal-principal" formControlName="remplacant" *ngIf="isAdmin === false">
                    <option *ngFor="let u of usersCaserne" value={{u.id}}>{{u.firstname}} {{u.lastname}}</option>
                  </select>
                  <div
                    *ngIf="CaporalForm.get('remplacant').invalid && (CaporalForm.get('remplacant').dirty || CaporalForm.get('remplacant').touched)"
                    class="alert alert-danger">
                    Le caporal remplaçant est requis.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
        <form class="form-sample" [formGroup]="sergentForm" (ngSubmit)="onSubmit()">
          <p class="card-description">
            <strong>SGT du Jour</strong>
          </p>
          <div class="row" >
            <div class="col-md-6">
              <div class="form-group row" >
                <p class="col-sm-3 col-form-label">Principale</p>
                <div class="col-sm-9" >
                  <!-- <input class="form-control" type="text" id="sergent-principal" formControlName="principal"> -->
                  <select class="form-control" id="caporal-principal" formControlName="principal" *ngIf="isAdmin === true">
                    <option *ngFor="let u of users" value={{u.id}}>{{u.firstname}} {{u.lastname}} {{u.caserne.name}}</option>
                  </select>
                  <select class="form-control" id="caporal-principal" formControlName="principal" *ngIf="isAdmin === false">
                    <option *ngFor="let u of usersCaserne" value={{u.id}}>{{u.firstname}} {{u.lastname}}</option>
                  </select>
                  <div *ngIf="sergentForm.get('principal').invalid && (sergentForm.get('principal').dirty || sergentForm.get('principal').touched)" class="alert alert-danger">
                    Le sergent principal est requis.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row" >
                <p class="col-sm-3 col-form-label">Remplaçant</p>
                <div class="col-sm-9" >
                  <!-- <input class="form-control" type="text" id="sergent-remplacant" formControlName="remplacant"> -->
                  <select class="form-control" id="caporal-principal" formControlName="remplacant" *ngIf="isAdmin === true">
                    <option *ngFor="let u of users" value={{u.id}}>{{u.firstname}} {{u.lastname}} {{u.caserne.name}}</option>
                  </select>
                  <select class="form-control" id="caporal-principal" formControlName="remplacant" *ngIf="isAdmin === false">
                    <option *ngFor="let u of usersCaserne" value={{u.id}}>{{u.firstname}} {{u.lastname}}</option>
                  </select>
                  <div
                    *ngIf="sergentForm.get('remplacant').invalid && (sergentForm.get('remplacant').dirty || sergentForm.get('remplacant').touched)"
                    class="alert alert-danger">
                    Le sergent remplaçant est requis.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <pf-button type="button"   (click)="modal.close('Close click')">Annuler</pf-button>
      <button type="submit"  style="margin-left: 1%;margin-right:2%" (click)="onSubmit()"(click)="modal.close('Close click')"  class="btn btn-success">Enregister</button>
     </div>
  </ng-template>
</section>

<section>
  <ng-template #content1 let-modal>
    <div class="modal-header">
      <h3 class="modal-title">Formulaire d'ajout d'Equipes</h3>
    </div>
    <div class="modal-body">
      <div class="card-body">
        <form class="form-sample" [formGroup]="addEquipe" (ngSubmit)="onSubmitEquipe()">
          <p class="card-description">
            <strong>Equipe</strong>
          </p>
          <div class="row" >
            <div class="col-md-6">
              <div class="form-group row">
                <p class="col-sm-3 col-form-label">Agrée</p>
                <div class="col-sm-9">
                  <select class="form-control" formControlName="typeId" (change)="addmembers2($event.target.selectedIndex)">
                    <option *ngFor="let v of agree; let i = index" value="{{v.id}}">{{v.equipeType}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <p class="col-sm-3 col-form-p">Designation</p>
                <div class="col-sm-9">
                  <textarea type="text" class="form-control" formControlName="designation" placeholder="Obligatoire" ></textarea>
                </div>
              </div>
            </div>
          </div>
          <p class="card-description">
            <strong>Membre</strong>
          </p>
          <div class="row" formArrayName="members">
            <div style="margin-left: 2%;"  *ngFor="let m of member.controls; let i = index" >
                <div class="form-group row"[formGroupName]="i">
                  <p class="col-sm-2 col-form-p">Agent {{i + 1}}</p>
                  <div class="col-sm-2" style="margin-left: -2%;" >
                    <!-- <input type="text" class="form-control" formControlName="principalId"  /> -->
                    <select class="form-control" id="caporal-principal" formControlName="principalId" *ngIf="isAdmin === true">
                      <option *ngFor="let u of users" value={{u.id}}>{{u.firstname}} {{u.lastname}} {{u.caserne.name}}</option>
                    </select>
                    <select class="form-control" id="caporal-principal" formControlName="principalId" *ngIf="isAdmin === false">
                      <option *ngFor="let u of usersCaserne" value={{u.id}}>{{u.firstname}} {{u.lastname}}</option>
                    </select>
                  </div>
                  <p class="col-sm-2 col-form-p">Remplacant {{i + 1}}</p>
                  <div class="col-sm-2" style="margin-left: -2%;">
                    <!-- <input type="text" class="form-control" formControlName="remplacantId"  /> -->
                    <select class="form-control" id="caporal-principal" formControlName="remplacantId" *ngIf="isAdmin === true">
                      <option *ngFor="let u of users" value={{u.id}}>{{u.firstname}} {{u.lastname}} {{u.caserne.name}}</option>
                    </select>
                    <select class="form-control" id="caporal-principal" formControlName="remplacantId" *ngIf="isAdmin === false">
                      <option *ngFor="let u of usersCaserne" value={{u.id}}>{{u.firstname}} {{u.lastname}}</option>
                    </select>
                  </div>
                  <p class="col-sm-2 col-form-p">Fonction{{i + 1}}</p>
                  <div class="col-sm-2" style="margin-left: -2%;">
                    <!-- <input type="text" class="form-control" formControlName="fonctionId"  /> -->
                    <select class="form-control" formControlName="fonctionId" >
                      <option value=7>ROLE_CA</option>
                      <option value=8>ROLE_CH</option>
                      <option value=9>ROLE_SVT</option>
                      <option value=10>ROLE_HDL</option>
                      <option value=11>ROLE_CONDUCTEUR</option>
                      <option value=12>ROLE_SDA</option>
                    </select>
                  </div>
                  <!-- <div class="row" style="margin-left:2%;">
                    <i class="fa fa-plus" (click)="addmembers()" ></i>
                    <i class="fa fa-trash" *ngIf="member.length > 1" style="margin-left: 2%;" (click)="deletemembers(i)" ></i>
                  </div> -->
                </div>
              </div>


          </div>
        </form>

      </div>
    </div>
    <div class="modal-footer">
      <pf-button type="button"   (click)="modal.close('Close click')">Annuler</pf-button>
      <button type="submit"  style="margin-left: 1%;margin-right:2%" (click)="onSubmitEquipe()"(click)="modal.close('Close click')"  class="btn btn-success">Enregister</button>
     </div>
  </ng-template>
</section>


<section>
  <ng-template #content2 let-modal>
    <div class="modal-header">
      <h3 class="modal-title">Programme</h3>
    </div>
    <div class="modal-body">
      <div class="card-body">

          <p class="card-description">
            <strong>Date: {{edit.date}}</strong>
          </p>
          <div class="row" >
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Agrée</th>
                  <th>Principale</th>
                  <th>Remplacant</th>
                  <th>Fonction</th>
                  <th></th>
                </tr>
              </thead>
               <tbody>
                <ng-container *ngFor="let groupedTeam of groupByTeamType() | keyvalue">
                  <ng-container *ngFor="let team of groupedTeam.value; let firstRow = first">
                    <tr *ngFor="let agent of team.agents; let firstCell = first">
                      <td *ngIf="firstCell" [attr.rowspan]="team.agents.length">{{team.teamType}}</td>
                      <td>{{agent.principalLastname}} {{agent.principalFirstname}}</td>
                      <td>{{agent.secondLastname}} {{agent.secondFirstname}} </td>
                      <td>{{agent.fonctionType}}</td>
                      <td><i class="fa fa-trash" style="color: red; margin-left: 10%"  (click)="saveIdSupp(team.teamId, edit.date);openSupp(content4) " ></i></td>
                    </tr>
                  </ng-container>
                </ng-container>
              </tbody>
              <!-- Dans cet exemple, nous utilisons deux directives ng-container imbriquées pour gérer l'affichage des lignes et des cellules du tableau. La directive *ngFor est utilisée pour itérer sur les équipes et les agents, respectivement.

La variable firstRow est utilisée pour déterminer si la première ligne de chaque équipe est atteinte, tandis que firstCell est utilisée pour déterminer si la première cellule de chaque agent est atteinte. L'attribut [attr.rowspan] est utilisé pour attribuer dynamiquement la valeur du nombre d'agents dans chaque équipe à la première cellule correspondante.

De cette manière, les éléments du même e.teamType seront affichés sur plusieurs lignes lorsque cela est nécessaire. -->
            </table>



          </div>


      </div>
    </div>
    <div class="modal-footer">
      <button type="button" (click)="print()" class="btn btn-primary">Imprimer</button>
      <button type="button"  style="margin-left: 1%;margin-right:2%"(click)="modal.close('Close click')"  class="btn btn-success">Ok</button>
     </div>
  </ng-template>
</section>


<section>
  <ng-template #content3 let-modal>
     <div class="modal-header">
      <h3 class="modal-title">Formulaire de mise à jour d'Equipes</h3>
    </div>
    <div class="modal-body">
      <div class="card-body">
        <form class="form-sample" [formGroup]="addEquipe" (ngSubmit)="onSubmitUpdate()">
          <p class="card-description">
            <strong>Equipe</strong>
          </p>
          <div class="row" >
            <div class="col-md-6">
              <div class="form-group row">
                <p class="col-sm-3 col-form-label">Agrée</p>
                <div class="col-sm-9">
                  <select class="form-control" formControlName="typeId" (change)="loadMembersByTeamId($event.target.value)">
                    <option *ngFor="let v of edit.teams" [value]="v.teamId">{{v.teamType}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <p class="col-sm-3 col-form-p">Designation</p>
                <div class="col-sm-9">
                  <textarea type="text" class="form-control" formControlName="designation"  placeholder="Obligatoire" ></textarea>
                </div>
              </div>
            </div>
          </div>
          <p class="card-description">
            <strong>Membre</strong>
          </p>
          <div class="row" formArrayName="members">
            <div style="margin-left: 2%;"  *ngFor="let m of member.controls; let i = index" >
                <div class="form-group row"[formGroupName]="i">
                  <p class="col-sm-2 col-form-p">Agent {{i + 1}}</p>
                  <div class="col-sm-2" style="margin-left: -2%;" >
                    <!-- <input type="text" class="form-control" formControlName="principalId"  /> -->
                    <select class="form-control" id="caporal-principal" formControlName="principalId" *ngIf="isAdmin === true">
                      <option *ngFor="let u of users" value={{u.id}}>{{u.firstname}} {{u.lastname}}</option>
                    </select>
                    <select class="form-control" id="caporal-principal" formControlName="principalId" *ngIf="isAdmin === false">
                      <option *ngFor="let u of usersCaserne" value={{u.id}}>{{u.firstname}} {{u.lastname}}</option>
                    </select>
                  </div>
                  <p class="col-sm-2 col-form-p">Remplacant {{i + 1}}</p>
                  <div class="col-sm-2" style="margin-left: -2%;">
                    <!-- <input type="text" class="form-control" formControlName="remplacantId"  /> -->
                    <select class="form-control" id="caporal-principal" formControlName="remplacantId" *ngIf="isAdmin === true">
                      <option *ngFor="let u of users" value={{u.id}}>{{u.firstname}} {{u.lastname}}</option>
                    </select>
                    <select class="form-control" id="caporal-principal" formControlName="remplacantId" *ngIf="isAdmin === false">
                      <option *ngFor="let u of usersCaserne" value={{u.id}}>{{u.firstname}} {{u.lastname}}</option>
                    </select>
                  </div>
                  <p class="col-sm-2 col-form-p">Fonction{{i + 1}}</p>
                  <div class="col-sm-2" style="margin-left: -2%;">
                    <!-- <input type="text" class="form-control" formControlName="fonctionId"  /> -->
                    <select class="form-control" formControlName="fonctionId" >
                      <option value="5">ROLE_CAP</option>
                      <option value="6">ROLE_SGT</option>
                      <option value=7>ROLE_CA</option>
                      <option value=8>ROLE_CH</option>
                      <option value=9>ROLE_SVT</option>
                      <option value=10>ROLE_HDL</option>
                      <option value=11>ROLE_CONDUCTEUR</option>
                      <option value=12>ROLE_SDA</option>
                    </select>
                  </div>
                  <!-- <div class="row" style="margin-left:2%;">
                    <i class="fa fa-plus" (click)="addmembers()" ></i>
                    <i class="fa fa-trash" *ngIf="member.length > 1" style="margin-left: 2%;" (click)="deletemembers(i)" ></i>
                  </div> -->
                </div>
              </div>


          </div>
        </form>

      </div>
    </div>
    <div class="modal-footer">
      <pf-button type="button"   (click)="modal.close('Close click')">Annuler</pf-button>
      <button type="submit"  style="margin-left: 1%;margin-right:2%" (click)="onSubmitUpdate()"(click)="modal.close('Close click')"  class="btn btn-success">Mettre à jour</button>
     </div>
  </ng-template>
</section>



<section>
  <ng-template #content4 let-modal>
    <div class="modal-header">
      <h3 class="modal-title" >Confirmer?</h3>

    </div>
    <div class="modal-body">
      <h3>Voulez-vous vraiment supprimer cet Equipe?</h3>
    </div>
    <div class="modal-footer">
      <pf-button type="button"   (click)="modal.close('Close click')">Annuler</pf-button>
      <button type="submit"  style="margin-left: 1%;margin-right:2%"  (click)="modal.close('Close click')" (click)=" supprimerTeam()" class="btn btn-danger">Supprimer</button>
    </div>
  </ng-template>
</section>

