<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Compagnie</h1>
      </div>
      <!-- <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active">Blank Page</li>
              </ol>
          </div> -->
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <!-- Default box -->

    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <table style="width: 100%;">
            <thead>
              <tr>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <h3 class="card-title">Numéro Appelant:</h3>
                  <h3 class="card-title"> {{service.formData.phoneNumber}} </h3>
                </td>
                <td>
                  <h3 class="card-title " >Date:</h3>
                  <h3 class="card-title" >{{ service.formData.date }}</h3>
                </td>
                <td>
                  <h3 class="card-title" >Heure:</h3>
                  <h3 class="card-title" > {{service.formData.time}} </h3>
                </td>
              </tr>
            </tbody>
          </table>
          <div>

          </div>

        </div>
        <div class="card-body">
          <div>
            <h2><Strong>Provenance</Strong></h2>
            <p class="mg-b-10">Origine</p>
          </div>
          <div style="text-align: center;" *ngIf="service.formData.provenance === 'Appel Verbal'">
            <div class="form-check form-check-inline">
              <input [checked]="true"  mdbRadio class="form-check-input" type="radio"  id="Appel Verbal"
                value="Appel Verbal" />
              <label  class="form-check-label" for="inlineRadio1">Appel Verbal</label>
            </div>
            <div class="form-check form-check-inline">
              <input [disabled]="true" mdbRadio class="form-check-input" type="radio"  id="T.U" value="T.U" />
              <label class="form-check-label" for="inlineRadio2"> T.U</label>
            </div>
            <div class="form-check form-check-inline">
              <input [disabled]="true" mdbRadio class="form-check-input" type="radio"  id="18 ou 112"
                value="18 ou 112" />
              <label class="form-check-label" for="inlineRadio3">18 ou 112</label>
            </div>
            <div class="form-check form-check-inline">
              <input [disabled]="true" mdbRadio class="form-check-input" type="radio"  id="Police"
                value="Police" />
              <label class="form-check-label" for="inlineRadio3">Police</label>
            </div>
            <div class="form-check form-check-inline">
              <input [disabled]="true" mdbRadio class="form-check-input" type="radio"  id="Gendarmerie"
                value="Gendarmerie" />
              <label class="form-check-label" for="inlineRadio3">Gendarmerie</label>
            </div>
            <div class="form-check form-check-inline">
              <input [disabled]="true" mdbRadio class="form-check-input" type="radio"  id="inlineRadio3"
                value="Radio" />
              <label class="form-check-label" for="inlineRadio3">Radio</label>
            </div>
          </div>
          <div style="text-align: center;" *ngIf="service.formData.provenance === 'T.U'">
            <div class="form-check form-check-inline">
              <input [disabled]="true"  mdbRadio class="form-check-input" type="radio"  id="Appel Verbal"
                value="Appel Verbal" />
              <label class="form-check-label" for="inlineRadio1">Appel Verbal</label>
            </div>
            <div class="form-check form-check-inline">
              <input [checked]="true" mdbRadio class="form-check-input" type="radio"  id="T.U" value="T.U" />
              <label class="form-check-label" for="inlineRadio2"> T.U</label>
            </div>
            <div class="form-check form-check-inline">
              <input [disabled]="true" mdbRadio class="form-check-input" type="radio"  id="18 ou 112"
                value="18 ou 112" />
              <label class="form-check-label" for="inlineRadio3">18 ou 112</label>
            </div>
            <div class="form-check form-check-inline">
              <input [disabled]="true" mdbRadio class="form-check-input" type="radio"  id="Police"
                value="Police" />
              <label class="form-check-label" for="inlineRadio3">Police</label>
            </div>
            <div class="form-check form-check-inline">
              <input [disabled]="true" mdbRadio class="form-check-input" type="radio"  id="Gendarmerie"
                value="Gendarmerie" />
              <label class="form-check-label" for="inlineRadio3">Gendarmerie</label>
            </div>
            <div class="form-check form-check-inline">
              <input [disabled]="true" mdbRadio class="form-check-input" type="radio"  id="inlineRadio3"
                value="Radio" />
              <label class="form-check-label" for="inlineRadio3">Radio</label>
            </div>
          </div>
          <div style="text-align: center;" *ngIf="service.formData.provenance === '18 ou 112'">
            <div class="form-check form-check-inline">
              <input [disabled]="true"  mdbRadio class="form-check-input" type="radio"  id="Appel Verbal"
                value="Appel Verbal" />
              <label class="form-check-label" for="inlineRadio1">Appel Verbal</label>
            </div>
            <div class="form-check form-check-inline">
              <input [disabled]="true" mdbRadio class="form-check-input" type="radio"  id="T.U" value="T.U" />
              <label class="form-check-label" for="inlineRadio2"> T.U</label>
            </div>
            <div class="form-check form-check-inline">
              <input [checked]="true" mdbRadio class="form-check-input" type="radio"  id="18 ou 112"
                value="18 ou 112" />
              <label class="form-check-label" for="inlineRadio3">18 ou 112</label>
            </div>
            <div class="form-check form-check-inline">
              <input [disabled]="true" mdbRadio class="form-check-input" type="radio"  id="Police"
                value="Police" />
              <label class="form-check-label" for="inlineRadio3">Police</label>
            </div>
            <div class="form-check form-check-inline">
              <input [disabled]="true" mdbRadio class="form-check-input" type="radio"  id="Gendarmerie"
                value="Gendarmerie" />
              <label class="form-check-label" for="inlineRadio3">Gendarmerie</label>
            </div>
            <div class="form-check form-check-inline">
              <input [disabled]="true" mdbRadio class="form-check-input" type="radio"  id="inlineRadio3"
                value="Radio" />
              <label class="form-check-label" for="inlineRadio3">Radio</label>
            </div>
          </div>
          <div style="text-align: center;" *ngIf="service.formData.provenance === 'Police'">
            <div class="form-check form-check-inline">
              <input [disabled]="true" mdbRadio class="form-check-input" type="radio"  id="Appel Verbal"
                value="Appel Verbal" />
              <label class="form-check-label" for="inlineRadio1">Appel Verbal</label>
            </div>
            <div class="form-check form-check-inline">
              <input [disabled]="true" mdbRadio class="form-check-input" type="radio"  id="T.U" value="T.U" />
              <label class="form-check-label" for="inlineRadio2"> T.U</label>
            </div>
            <div class="form-check form-check-inline">
              <input [disabled]="true" mdbRadio class="form-check-input" type="radio"  id="18 ou 112"
                value="18 ou 112" />
              <label class="form-check-label" for="inlineRadio3">18 ou 112</label>
            </div>
            <div class="form-check form-check-inline">
              <input [checked]="true" mdbRadio class="form-check-input" type="radio"  id="Police"
                value="Police" />
              <label class="form-check-label" for="inlineRadio3">Police</label>
            </div>
            <div class="form-check form-check-inline">
              <input [disabled]="true" mdbRadio class="form-check-input" type="radio"  id="Gendarmerie"
                value="Gendarmerie" />
              <label class="form-check-label" for="inlineRadio3">Gendarmerie</label>
            </div>
            <div class="form-check form-check-inline">
              <input [disabled]="true" mdbRadio class="form-check-input" type="radio"  id="inlineRadio3"
                value="Radio" />
              <label class="form-check-label" for="inlineRadio3">Radio</label>
            </div>
          </div>
          <div style="text-align: center;" *ngIf="service.formData.provenance === 'Gendarmerie'">
            <div class="form-check form-check-inline">
              <input [disabled]="true"  mdbRadio class="form-check-input" type="radio"  id="Appel Verbal"
                value="Appel Verbal" />
              <label class="form-check-label" for="inlineRadio1">Appel Verbal</label>
            </div>
            <div class="form-check form-check-inline">
              <input [disabled]="true" mdbRadio class="form-check-input" type="radio"  id="T.U" value="T.U" />
              <label class="form-check-label" for="inlineRadio2"> T.U</label>
            </div>
            <div class="form-check form-check-inline">
              <input [disabled]="true" mdbRadio class="form-check-input" type="radio"  id="18 ou 112"
                value="18 ou 112" />
              <label class="form-check-label" for="inlineRadio3">18 ou 112</label>
            </div>
            <div class="form-check form-check-inline">
              <input [disabled]="true" mdbRadio class="form-check-input" type="radio"  id="Police"
                value="Police" />
              <label class="form-check-label" for="inlineRadio3">Police</label>
            </div>
            <div class="form-check form-check-inline">
              <input [checked]="true" mdbRadio class="form-check-input" type="radio"  id="Gendarmerie"
                value="Gendarmerie" />
              <label class="form-check-label" for="inlineRadio3">Gendarmerie</label>
            </div>
            <div class="form-check form-check-inline">
              <input [disabled]="true" mdbRadio class="form-check-input" type="radio"  id="inlineRadio3"
                value="Radio" />
              <label class="form-check-label" for="inlineRadio3">Radio</label>
            </div>
          </div>
          <div style="text-align: center;" *ngIf="service.formData.provenance === 'Radio'">
            <div class="form-check form-check-inline">
              <input [disabled]="true"  mdbRadio class="form-check-input" type="radio"  id="Appel Verbal"
                value="Appel Verbal" />
              <label class="form-check-label" for="inlineRadio1">Appel Verbal</label>
            </div>
            <div class="form-check form-check-inline">
              <input [disabled]="true" mdbRadio class="form-check-input" type="radio"  id="T.U" value="T.U" />
              <label  class="form-check-label" for="inlineRadio2"> T.U</label>
            </div>
            <div class="form-check form-check-inline">
              <input [disabled]="true" mdbRadio class="form-check-input" type="radio"  id="18 ou 112"
                value="18 ou 112" />
              <label class="form-check-label" for="inlineRadio3">18 ou 112</label>
            </div>
            <div class="form-check form-check-inline">
              <input [disabled]="true" mdbRadio class="form-check-input" type="radio"  id="Police"
                value="Police" />
              <label class="form-check-label" for="inlineRadio3">Police</label>
            </div>
            <div class="form-check form-check-inline">
              <input [disabled]="true" mdbRadio class="form-check-input" type="radio"  id="Gendarmerie"
                value="Gendarmerie" />
              <label class="form-check-label" for="inlineRadio3">Gendarmerie</label>
            </div>
            <div class="form-check form-check-inline">
              <input [checked]="true" mdbRadio class="form-check-input" type="radio"  id="inlineRadio3"
                value="Radio" />
              <label class="form-check-label" for="inlineRadio3">Radio</label>
            </div>
          </div>


          <div>
            <h2><strong>Incident</strong></h2>
          </div>

          <div class="row row-sm mg-b-20 ">
            <div class="col-lg-6 form-group ">
              <p class="mg-b-10">Category</p>
              <p class="form-control">{{service.formData.incident.category}}</p>
            </div>

            <div class="col-lg-6 form-group ">
              <p class="mg-b-10">Libele</p>
              <p class="form-control"> {{service.formData.incident.type}}</p>
            </div>
          </div>
          <div class="form-group">
            <p class="mg-b-10">Commentaire</p>
            <h3 class="form-control"  > {{service.formData.incident.comments}} </h3>
          </div>
          <div>
            <h2><strong>Appelant</strong></h2>
          </div>
          <!-- <div class="form-group">
                            <label for="exampleInputUsername1">Numero</label>
                            <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Number">
                          </div> -->
          <div class="row row-sm mg-b-20 ">
            <div class="col-lg-6 form-group ">
              <p class="mg-b-10">Nom</p>
              <h3  class="form-control" > {{service.formData.name}}</h3>

            </div>

            <div class="col-lg-6 form-group ">
              <p class="mg-b-10">Address</p>
              <h3  class="form-control" >{{service.formData.address}} </h3>
            </div>
          </div>
          <div>
            <h2><strong>Coordonnée</strong></h2>
          </div>
          <div class="row row-sm mg-b-20 ">
            <div class="col-lg-6 form-group ">
              <p class="mg-b-10">Longitude</p>
              <h3  class="form-control">{{service.formData.longitude}} </h3>
            </div>

            <div class="col-lg-6 form-group ">
              <p class="mg-b-10">Latitude</p>
              <h3  class="form-control" >{{service.formData.latitude}} </h3>
            </div>

            <div class="col-lg-6 form-group ">
              <p class="mg-b-10">Precision</p>
              <h3  class="form-control" >{{service.formData.precision}} </h3>
            </div>
          </div>
          <form class="forms-sample" [formGroup]="CompagnieForm" (ngSubmit)="onSubmit()">

            <div formArrayName="compagnie" >
              <div *ngFor="let c of compagnie.controls; let i = index">
                <div [formGroupName]="i" >
              <div class="row row-sm mg-b-20 card-header">
                <div class="col-lg-5 form-group ">
                  <label class="mg-b-10" for="Compagnie">Compagnie</label>
                  <select class="form-control" formControlName="caserneId">
                    <option *ngFor="let d of caserne" value={{d.id}} selected="d.id===service.formData.casernes.caserneName">{{d.name}}</option>
                  </select>
                </div>
                <div class="col-lg-5 form-group">
                  <label for="commentaire">Commentaire</label>
                  <textarea class="form-control" id="exampleTextarea1" rows="4" formControlName="message" placeholder="**Obligatoire** Peut être une information décisionnel pour le BCOT">{{ c.get('message').value }}</textarea>
                </div>
                <div class="row" style="margin-left:2%; margin-top: 5%">
                  <i class="fa fa-plus" (click)="addCompagnie()" ></i>
                  <i class="fa fa-trash" *ngIf="compagnie.length > 1" style="margin-left: 2%;" (click)="deleteCompagnie(i)" ></i>
                </div>

              </div>
              </div>
            </div>
          </div>


          </form>
        </div>

        <!-- /.card-body -->
        <div class="modal-footer">
          <button type="submit" (click)="onSubmit()" class="btn btn-success">Enregistrer</button>
          </div>
        <!-- /.card-footer-->
      </div>
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
