<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Création d'une Intervention</h1>
            </div>
            <!-- <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Blank Page</li>
                </ol>
            </div> -->
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <form [formGroup]="interventionForm" (ngSubmit)="onSubmit()">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
              <table style="text-align:center; width:100%">
                <thead>
                  <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr >
                    <td>
                      <h3 class="card-title">Numéro Appelant:</h3>
                      <input type="text" class="card-title" formControlName="phoneNumber" style="margin-left: 2%;" minlength="8" maxlength="8"><br><br>
                      <div
                        *ngIf="interventionForm.get('phoneNumber').invalid && (interventionForm.get('phoneNumber').dirty || interventionForm.get('phoneNumber').touched)"
                        class="text-danger">
                        <div *ngIf="interventionForm.get('phoneNumber').errors.required">Le Numero est requis</div>
                        <div *ngIf="interventionForm.get('phoneNumber').errors.minlength">Le Numero est invalide</div>
                      </div>
                    </td>
                    <td>
                      <h3 class="card-title " >Date:</h3>
                      <input type="date" [(ngModel)]="date2" formControlName="date" class="card-title" style="margin-left: 2%;">
                    </td>
                    <td>
                      <h3 class="card-title" >Heure:</h3>
                      <input type="time" class="card-title"  [(ngModel)]="heure" formControlName="time" style="margin-left: 2%;"><br><br>
                      <div style="margin-left: 25%;"
                        *ngIf="interventionForm.get('time').invalid && (interventionForm.get('time').dirty || interventionForm.get('time').touched)"
                        class="text-danger">
                        <div *ngIf="interventionForm.get('time').errors.required">L'heure est requis</div>
                        <div *ngIf="interventionForm.get('time').errors.format">L'heure est invalide</div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div>

            </div>
            </div>
            <div class="card-body">
                <div>
                  <h2><Strong>Provenance</Strong></h2>
                  <p class="mg-b-10">Origine</p>
                </div>
                <div style="text-align: center;">
                <div class="form-check form-check-inline">
                  <input mdbRadio class="form-check-input" type="radio" formControlName="provenance" id="Appel Verbal"
                    value="Appel Verbal" />
                  <label class="form-check-label" for="inlineRadio1">Appel Verbal</label>
                </div>
                <div class="form-check form-check-inline">
                  <input mdbRadio class="form-check-input" type="radio" formControlName="provenance" id="T.U" value="T.U" />
                  <label class="form-check-label" for="inlineRadio2"> T.U</label>
                </div>
                <div class="form-check form-check-inline">
                  <input mdbRadio class="form-check-input" type="radio" formControlName="provenance" id="18 ou 112" value="18 ou 112" />
                  <label class="form-check-label" for="inlineRadio3">18 ou 112</label>
                </div>
                <div class="form-check form-check-inline">
                  <input mdbRadio class="form-check-input" type="radio" formControlName="provenance" id="Police" value="Police" />
                  <label class="form-check-label" for="inlineRadio3">Police</label>
                </div>
                <div class="form-check form-check-inline">
                  <input mdbRadio class="form-check-input" type="radio" formControlName="provenance" id="Gendarmerie"
                    value="Gendarmerie" />
                  <label class="form-check-label" for="inlineRadio3">Gendarmerie</label>
                </div>
                <div class="form-check form-check-inline">
                  <input mdbRadio class="form-check-input" type="radio" formControlName="provenance" id="inlineRadio3" value="Radio" />
                  <label class="form-check-label" for="inlineRadio3">Radio</label>
                </div>
              </div>
                      <div>
                        <h2><strong>Incident</strong></h2>
                      </div>

                        <div class="row row-sm mg-b-20 " >
                          <div class="col-lg-6 form-group ">
                            <p class="mg-b-10">Category</p>
                            <select  class="form-control" formControlName="categoryId" (change)="getLibelleBycategory($event.target.value)" >
                              <option *ngFor="let c of category" value={{c.id}} >{{c.category}}</option>
                            </select>
                            <div
                            *ngIf="interventionForm.get('categoryId').invalid && (interventionForm.get('categoryId').dirty || interventionForm.get('categoryId').touched)"
                            class="text-danger">
                            <div *ngIf="interventionForm.get('categoryId').errors.required">La catégorie est requis</div>
                          </div>
                          </div>

                          <div class="col-lg-6 form-group ">
                            <p class="mg-b-10">Libele</p>
                            <select class="form-control" formControlName="incidentTypeId" >
                              <option *ngFor="let l of libelle" value={{l.id}} >{{l.designation}}</option>
                            </select>
                            <div
                            *ngIf="interventionForm.get('incidentTypeId').invalid && (interventionForm.get('incidentTypeId').dirty || interventionForm.get('incidentTypeId').touched)"
                            class="text-danger">
                            <div *ngIf="interventionForm.get('incidentTypeId').errors.required">Le Libelle est requis</div>
                          </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <p class="mg-b-10">Commentaire</p>
                          <textarea class="form-control" id="exampleTextarea1" rows="4" formControlName="comments"></textarea>
                        </div>
                        <div>
                          <h2><strong>Appelant</strong></h2>
                        </div>
                        <div class="row row-sm mg-b-20 " >
                          <div class="col-lg-6 form-group ">
                            <p class="mg-b-10">Nom</p>
                            <input type="text" formControlName="name" class="form-control" required/>
                            <div
                            *ngIf="interventionForm.get('name').invalid && (interventionForm.get('name').dirty || interventionForm.get('name').touched)"
                            class="text-danger">
                            <div *ngIf="interventionForm.get('name').errors.required">Le Nom est requis</div>
                          </div>
                          </div>

                          <div class="col-lg-6 form-group ">
                            <p class="mg-b-10">Address</p>
                            <input type="text" formControlName="address" class="form-control" />
                          </div>
                        </div>
                        <div>
                          <h2><strong>Coordonnée</strong></h2>
                        </div>
                        <div class="row row-sm mg-b-20 " >
                          <div class="col-lg-6 form-group ">
                            <p class="mg-b-10">Longitude</p>
                            <input type="number" formControlName="longitude" class="form-control" />
                          </div>

                          <div class="col-lg-6 form-group ">
                            <p class="mg-b-10">Latitude</p>
                            <input type="number" formControlName="latitude" class="form-control" />
                          </div>

                          <div class="col-lg-6 form-group ">
                            <p class="mg-b-10">Precision</p>
                            <input type="text" formControlName="precision" class="form-control" />
                          </div>
                        </div>





            </div>
            <!-- /.card-body -->
            <div class="modal-footer">
             <button type="submit"  class="btn btn-success">Enregistrer</button>
             </div>
            <!-- /.card-footer-->
        </div>
    </div>
    <!-- /.card -->
  </form>
</section>
<!-- /.content -->


