<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
      <div class="row mb-2">
          <div class="col-sm-6">
              <h1>Agent</h1>
          </div>
          <!-- <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active">Blank Page</li>
              </ol>
          </div> -->
      </div>
  </div>
  <!-- /.container-fluid -->
</section>

<section>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h3 class="modal-title" >Formulaire de création d'agent</h3>
    </div>
    <div class="modal-body">
      <div class="card-body">
        <form class="form-sample" [formGroup]="agentForm" (ngSubmit)="onSubmit()">
          <p class="card-description ">
            <strong>Information Personnelle</strong>
          </p>
          <div class="row">

            <div class="col-md-6">
              <div class="form-group row">
                <p class="col-sm-3 col-form-p">Nom</p>
                <div class="col-sm-9">
                  <input type="text" class="form-control"formControlName="lastname" />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <p class="col-sm-3 col-form-p">Prenom</p>
                <div class="col-sm-9">
                  <input type="text" class="form-control" formControlName="firstname" />
                </div>
              </div>
            </div>
          </div>
          <div class="row">

            <div class="col-md-6">
              <div class="form-group row">
                <p class="col-sm-3 col-form-p">Mot de passe</p>
                <div class="col-sm-9">
                  <input type="password" class="form-control" formControlName="password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%]).{8,}$" />
                  <!-- <div *ngIf="agentForm.get('password').invalid && agentForm.get('password').touched" class="text-danger">
                    Le mot de passe doit contenir au moins une lettre majuscule, une lettre minuscule, un chiffre et un caractère spécial et être d'au moins 8 caractères.
                  </div> -->
                  <div>
                    <p *ngIf="!isPasswordValid" class="text-danger">Le mot de passe doit contenir au moins une lettre majuscule, une lettre minuscule, un chiffre et un caractère spécial.</p>

                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="col-md-6">
              <div class="form-group row">
                <p class="col-sm-3 col-form-p">Date of Birth</p>
                <div class="col-sm-9">
                  <input class="form-control" placeholder="dd/mm/yyyy"/>
                </div>
              </div>
            </div> -->
            <div class="col-md-6">
              <div class="form-group row">
                <p class="col-sm-3 col-form-p">Répété le Mot de passe</p>
                <div class="col-sm-9">
                  <input type="password" class="form-control" formControlName="confirmPassword" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%]).{8,}$"/>
                  <div  class="text-danger">
                    <p *ngIf="!isPasswordMatch" class="text-danger">Les mots de passe ne correspondent pas.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <p class="col-sm-3 col-form-p">Matricule</p>
                <div class="col-sm-9">
                  <input type="text" class="form-control" formControlName="matricule" />
                </div>

              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <p class="col-sm-3 col-form-p">Email</p>
                <div class="col-sm-9">
                  <input type="text" class="form-control"formControlName="email" />
                </div>
              </div>
            </div>
            <div class="col-md-6" formArrayName="telephone" *ngFor="let n of number.controls; let i = index" >
              <div class="form-group row" >
                <p class="col-sm-3 col-form-p">Numero de telephone {{i + 1}}</p>
                <div class="col-sm-8" >
                  <input type="text" class="form-control" [formControlName]="i"/>

                </div>
                <div class="row" style="margin-left:2%;">
                  <i class="fa fa-plus" (click)="addNumber()" ></i>
                  <i class="fa fa-trash" *ngIf="number.length > 1" style="margin-left: 2%;" (click)="deleteNumber(i)" ></i>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <p class="col-sm-3 col-form-p">Fonction</p>
                <div class="col-sm-9">
                  <select class="form-control" formControlName="defaultFonction"  >
                    <option value=1>ROLE_SUPERVISOR</option>
                    <option value=2>ROLE_ADMINISTRATEUR</option>
                    <option value=3>ROLE_CCOT</option>
                    <option value=4>ROLE_BCTO</option>
                    <option value=5>ROLE_CAP</option>
                    <option value=6>ROLE_SGT</option>
                    <option value=7>ROLE_CA</option>
                    <option value=8>ROLE_CH</option>
                    <option value=9>ROLE_SVT</option>
                    <option value=10>ROLE_HDL</option>
                    <option value=11>ROLE_CONDUCTEUR</option>
                    <option value=12>ROLE_SDA</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <p class="card-description">
            <strong>Caserne et Grade</strong>
          </p>
          <div class="row" >
            <div class="col-md-6">
              <div class="form-group row" >
                <p class="col-sm-3 col-form-label">Caserne</p>
                <div class="col-sm-9" >
                  <select class="form-control" formControlName="caserneId">
                    <option *ngFor="let c of caserne" value="{{c.id}}">{{c.name}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row" >
                <p class="col-sm-3 col-form-label">Grade</p>
                <div class="col-sm-9">
                  <select class="form-control" formControlName="gradeId" >
                    <option *ngFor="let g of grade" value="{{g.id}}">{{g.grade}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>
    <div class="modal-footer">
     <pf-button type="button"   (click)="modal.close('Close click')">Annuler</pf-button>
     <button type="submit"  style="margin-left: 1%;margin-right:2%" (click)="onSubmit()"(click)="modal.close('Close click')"  class="btn btn-success">Enregister</button>
    </div>
  </ng-template>
</section>


<section>
  <ng-template #content1 let-modal>
    <div class="modal-header">
      <h3 class="modal-title" >Formulaire de modification d'agent</h3>

    </div>
    <div class="modal-body">
      <div class="card-body">
        <form class="form-sample" [formGroup]="agentEditForm" (ngSubmit)="onSubmit()">
          <p class="card-description ">
            <strong>Information Personnelle</strong>
          </p>
          <div class="row" hidden="true">
            <div class="col-md-6">
              <div class="form-group row">
                <p class="col-sm-3 col-form-p">id</p>
                <div class="col-sm-9">
                  <input type="text" class="form-control" formControlName="id" [(ngModel)]="agent.id"/>
                </div>

              </div>
            </div>
          </div>
          <div class="row">

            <div class="col-md-6">
              <div class="form-group row">
                <p class="col-sm-3 col-form-p">Nom</p>
                <div class="col-sm-9">
                  <input type="text" class="form-control"formControlName="lastname" [(ngModel)]="agent.lastname"/>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <p class="col-sm-3 col-form-p">Prenom</p>
                <div class="col-sm-9">
                  <input type="text" class="form-control" formControlName="firstname" [(ngModel)]="agent.firstname"/>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <p class="col-sm-3 col-form-p">Matricule</p>
                <div class="col-sm-9">
                  <input type="text" class="form-control" formControlName="matricule" [(ngModel)]="agent.matricule"/>
                </div>

              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <p class="col-sm-3 col-form-p">Email</p>
                <div class="col-sm-9">
                  <input type="text" class="form-control"formControlName="email" [(ngModel)]="agent.email" />
                </div>
              </div>
            </div>
            <div class="col-md-6" formArrayName="telephone" *ngFor="let e of number2.controls; let i = index" >
              <div class="form-group row" >
                <p class="col-sm-3 col-form-p">Numero de telephone {{i + 1}}</p>
                <div class="col-sm-8" >
                  <input type="text" class="form-control" [formControlName]="i" value={{e.value}} />
                </div>
                <div class="row" style="margin-left:2%;">
                  <i class="fa fa-plus" (click)="addNumber2()" ></i>
                  <i class="fa fa-trash" *ngIf="number2.length > 1" style="margin-left: 2%;" (click)="deleteNumber2(i)" ></i>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <p class="col-sm-3 col-form-p">Fonction</p>
                <div class="col-sm-9">
                  <select class="form-control" formControlName="defaultFonction" [(ngModel)]="agent.defaultFonction.id" >
                    <option value=1>ROLE_SUPERVISOR</option>
                    <option value=2>ROLE_ADMINISTRATEUR</option>
                    <option value=3>ROLE_CCOT</option>
                    <option value=4>ROLE_BCTO</option>
                    <option value=5>ROLE_CAP</option>
                    <option value=6>ROLE_SGT</option>
                    <option value=7>ROLE_CA</option>
                    <option value=8>ROLE_CH</option>
                    <option value=9>ROLE_SVT</option>
                    <option value=10>ROLE_HDL</option>
                    <option value=11>ROLE_CONDUCTEUR</option>
                    <option value=12>ROLE_SDA</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <p class="card-description">
            <strong>Caserne et Grade</strong>
          </p>
          <div class="row" >
            <div class="col-md-6">
              <div class="form-group row" >
                <p class="col-sm-3 col-form-label">Caserne</p>
                <div class="col-sm-9" >
                  <select class="form-control" formControlName="caserneId" [(ngModel)]="agent.caserne.id">
                    <option *ngFor="let c of caserne" value="{{c.id}}">{{c.name}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row" >
                <p class="col-sm-3 col-form-label">Grade</p>
                <div class="col-sm-9">
                  <select class="form-control" formControlName="gradeId" [(ngModel)]="agent.grade.id">
                    <option *ngFor="let g of grade" value="{{g.id}}">{{g.grade}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>
    <div class="modal-footer">
     <pf-button type="button"   (click)="modal.close('Close click')">Annuler</pf-button>
     <button type="submit"  style="margin-left: 1%;margin-right:2%" (click)="onEdit()" (click)="modal.close('Close click')"  class="btn btn-success">Enregistrer</button>
    </div>
  </ng-template>
</section>


<section class="content">
  <div class="grid-margin stretch-card container-fluid">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Liste des agents</h4>
        <div class="row" style="margin-left: 20%;">
          <div class="col-md-6" *ngIf="isAdmin === true">
            <div class="form-group row">
              <p class="col-sm-4 col-form-p">Trier par caserne</p>
              <div class="col-sm-8">
                <select class="form-control" [(ngModel)]="compagnie" >
                  <option [ngValue]="0" >Tous les Agents</option>
                  <option *ngFor="let c of caserne" [ngValue]="c.id" >{{c.name}}</option>
                </select>
              </div>
              <div class="col-md-2" style="margin-left: 84%;">
                <div class="form-group row">
                  <div >
                    <pf-button *ngIf="compagnie !== 0" (click)="getAgentByCaserne(compagnie)">Triez</pf-button>
                    <pf-button *ngIf="compagnie === 0" (click)="getAgent()">Triez</pf-button>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <pf-button *ngIf="isAdmin === true" (click)="openCreate(content)" class="card-title" style="margin-left: 40%;" >
            <i class="fa fa-plus"></i>
          </pf-button>
        </div>



        <div class="table-responsive">
          <table class="table table-bordered table-hover" >
            <thead>
              <tr>
                <th>Matricule</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Numero</th>
                <th>Fonction</th>
                <th>Grade</th>
                <th></th>
              </tr>
            </thead>
            <tbody *ngFor="let u of donneesPaginees; let i = index">
              <tr>
                <td>{{u.matricule}}</td>
                <td>{{u.lastname}}</td>
                <td> {{u.firstname}}</td>
                <td> {{u.phoneNumber}} </td>
                <td> {{u.defaultFonction.rule}} </td>
                <td>{{u.grade.grade}}</td>
                <td [width]="120" *ngIf="isAdmin === true || supervisor === true">
                  <i class="fa fa-eye" style="color: rgb(9, 255, 0);" (click)="openRead(content2)" (click)="getAgentById(u.id)"></i>
                  <i class="fa fa-edit" (click)="openEdit(content1)" (click)="getAgentById(u.id)" style="margin-left: 10%;"></i>
                  <i class="fa fa-trash" style="color: red; margin-left: 10%" (click)="getAgentById(u.id)" (click)="openSupp(content3)"></i>
                </td>
                <td [width]="120" *ngIf="isAdmin === false && supervisor === false" >
                  <i class="fa fa-eye" style="color: rgb(9, 255, 0);" (click)="openRead(content2)" (click)="getAgentById(u.id)"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="pagination-container" style="margin-left: 75%;">
          <ngb-pagination
  [(page)]="page"
  [pageSize]="pageSize"
  [collectionSize]="collectionSize">
</ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</section>



<section>
  <ng-template #content2 let-modal>
    <div class="modal-header">
      <h3 class="modal-title" >Agent</h3>
    </div>
    <div class="modal-body">
      <div class="card-body">
        <form class="form-sample" [formGroup]="agentEditForm" (ngSubmit)="onSubmit()">
          <p class="card-description ">
            <strong>Information Personnelle</strong>
          </p>
          <div class="row" hidden="true">
            <div class="col-md-6">
              <div class="form-group row">
                <p class="col-sm-3 col-form-p">id</p>
                <div class="col-sm-9">
                  <p type="text" class="form-control" formControlName="id" > {{agent.id}} </p>
                </div>

              </div>
            </div>
          </div>
          <div class="row">

            <div class="col-md-6">
              <div class="form-group row">
                <p class="col-sm-3 col-form-p">Nom</p>
                <div class="col-sm-9">
                  <p type="text" class="form-control"formControlName="lastname" > {{agent.lastname}} </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <p class="col-sm-3 col-form-p">Prenom</p>
                <div class="col-sm-9">
                  <p type="text" class="form-control" formControlName="firstname" > {{agent.firstname}} </p>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <p class="col-sm-3 col-form-p">Matricule</p>
                <div class="col-sm-9">
                  <p type="text" class="form-control" formControlName="matricule" > {{agent.matricule}} </p>
                </div>

              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <p class="col-sm-3 col-form-p">Email</p>
                <div class="col-sm-9">
                  <p type="text" class="form-control"formControlName="email" > {{agent.email}} </p>
                </div>
              </div>
            </div>
            <div class="col-md-6" formArrayName="telephone" *ngFor="let e of number2.controls; let i = index" >
              <div class="form-group row" >
                <p class="col-sm-3 col-form-p">Numero de telephone {{i + 1}}</p>
                <div class="col-sm-8" >
                  <p type="text" class="form-control" [formControlName]="i" > {{e.value}} </p>
                </div>

              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <p class="col-sm-3 col-form-p">Fonction</p>
                <div class="col-sm-9">
                  <p class="form-control" formControlName="defaultFonction">{{agent.defaultFonction.rule}}</p>

                </div>
              </div>
            </div>
          </div>

          <p class="card-description">
            <strong>Caserne et Grade</strong>
          </p>
          <div class="row" >
            <div class="col-md-6">
              <div class="form-group row" >
                <p class="col-sm-3 col-form-label">Caserne</p>
                <div class="col-sm-9" >
                  <p class="form-control" formControlName="caserneId"> {{agent.caserne.name}} </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row" >
                <p class="col-sm-3 col-form-label">Grade</p>
                <div class="col-sm-9">
                  <p class="form-control"  formControlName="gradeId"> {{agent.grade.grade}} </p>

                </div>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>
    <div class="modal-footer">
     <pf-button type="button"  style="margin-right:2%" (click)="modal.close('Close click')">OK</pf-button>
    </div>
  </ng-template>
</section>



<section>
  <ng-template #content3 let-modal>
    <div class="modal-header">
      <h3 class="modal-title" >Confirmer?</h3>

    </div>
    <div class="modal-body">
      <h3>Voulez-vous vraiment supprimer cet agent?</h3>
    </div>
    <div class="modal-footer">
     <pf-button type="button"   (click)="modal.close('Close click')">Annuler</pf-button>
     <button type="submit"  style="margin-left: 1%;margin-right:2%" (click)="deleteAgent(agent.id)" (click)="modal.close('Close click')"  class="btn btn-danger">Supprimer</button>
    </div>
  </ng-template>
</section>

