<pf-dropdown hide-arrow>
    <div slot="button" style="width: 46px;">
        <a class="nav-link">
            <i class="far fa-bell"></i>
            <span class=" float-right badge badge-warning navbar-badge">3</span>
        </a>
    </div>
    <div slot="menu">
        <span class="dropdown-item dropdown-header">3 Notifications</span>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item">
          <i class="fas fa-file mr-2"></i> Nouvelle intervention
          <span class="float-right text-muted text-sm">1 min</span>
      </a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item">
          <i class="fas fa-file mr-2"></i>  Nouvelle intervention
          <span class="float-right text-muted text-sm">2 min</span>
      </a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item">
            <i class="fas fa-file mr-2"></i>  Nouvelle intervention
            <span class="float-right text-muted text-sm">3 min</span>
        </a>
        <div class="dropdown-divider"></div>
        <!-- <a href="#" class="dropdown-item dropdown-footer"
            >See All Notifications</a
        > -->
    </div>
</pf-dropdown>

<ng-template #notification>
    <a href="#" class="dropdown-item">
        <i class="fas fa-envelope mr-2"></i> 4 new messages
        <span class="float-right text-muted text-sm">3 mins</span>
    </a>
    <div class="dropdown-divider"></div>
</ng-template>
