<pf-dropdown hide-arrow>
    <div slot="button" style="width: 46px;">
        <a class="nav-link">
            <i class="far fa-bell"></i>
            <span class=" float-right badge badge-warning navbar-badge">{{count}}</span>
        </a>
    </div>
    <div slot="menu">
        <span class="dropdown-item dropdown-header">Notifications</span>
        <div class="dropdown-divider"></div>
        <a [routerLink]="['/suivie', i.interventionId ]" class="dropdown-item" *ngFor="let i of interventions">
          <i class="fas fa-file mr-2"></i> {{i.date}} {{i.incident.type}}
          <span class="float-right text-muted text-sm">{{i.time}}</span>
      </a>
    </div>
</pf-dropdown>

<ng-template #notification>
    <a href="#" class="dropdown-item">
        <i class="fas fa-envelope mr-2"></i> 4 new messages
        <span class="float-right text-muted text-sm">3 mins</span>
    </a>
    <div class="dropdown-divider"></div>
</ng-template>
