<div class="card card-outline card-primary">
    <div class="card-header text-center">
      <pf-image
      src="assets/img/logo.png"
      alt="BNSPLTE Logo"
      class="brand-image"
      height="132"
      width="132"
  ></pf-image>
        <p class="h1"><b>BNSP</b>LTE</p>
    </div>
    <div class="card-body">
        <p class="login-box-msg">Connectez-vous pour démarrer votre session</p>

        <form [formGroup]="loginForm" (ngSubmit)="loginByAuth()">
            <div class="input-group mb-3">
                <input formControlName="email" type="email" class="form-control" placeholder="Email"/>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                  </div>
                </div>
              </div>
              <div *ngIf="loginForm.get('email').invalid && (loginForm.get('email').dirty || loginForm.get('email').touched)" class="text-danger">
                <div *ngIf="loginForm.get('email').errors.required">L'Email est requis</div>
                <div *ngIf="loginForm.get('email').errors.email">L'Email est invalide</div>
              </div>
              <div class="input-group mb-3">
                <input formControlName="password" type="password" class="form-control" placeholder="Password" minlength="8"/>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                  </div>
                </div>
              </div>
              <div *ngIf="loginForm.get('password').invalid && (loginForm.get('password').dirty || loginForm.get('password').touched)" class="text-danger">
                <div *ngIf="loginForm.get('password').errors.required">Le Mot de passe est requis</div>
                <div *ngIf="loginForm.get('password').errors.minlength">Le mot de passe doit comporter au moins 8 caractères</div>
              </div>
            <div class="row">

                <!-- /.col -->
                <div class="col-5" style="margin-left: 58%;">
                    <pf-button
                        [type]="'submit'"
                        [block]="true"
                        [loading]="isAuthLoading"
                    >
                        Connexion
                    </pf-button>
                </div>
                <!-- /.col -->
            </div>
        </form>


    </div>
    <!-- /.login-card-body -->
</div>
