<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Tableau de Bord</h1>
      </div>
      <!-- /.col -->
      <!-- <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard v1</li>
                </ol>
            </div> -->
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.content-header -->


<section class="content">
  <!-- Default box -->
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <h2> Total d'intervention du Jour </h2>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>{{total}}</h3>

                <p>Total Requete aujourd'hui</p>
              </div>
              <div class="icon">
                <i class="ion ion-home"></i>
              </div>
              <!-- <a href="#" class="small-box-footer"
                      >More info <i class="fas fa-arrow-circle-right"></i
                  ></a> -->
            </div>
          </div>

          <div class="col-lg-6 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>{{nonattribuer}}</h3>

                <p>Total Requete Non Attribuer</p>
              </div>
              <div class="icon">
                <i class="ion ion-close"></i>
              </div>
              <!-- <a href="#" class="small-box-footer"
                >More info <i class="fas fa-arrow-circle-right"></i
            ></a> -->
            </div>
          </div>

          <div class="col-lg-6 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>{{enattente}}</h3>

                <p>Total Requete en attente</p>
              </div>
              <div class="icon">
                <i class="ion ion-clock"></i>
              </div>
              <!-- <a href="#" class="small-box-footer"
                    >More info <i class="fas fa-arrow-circle-right"></i
                ></a> -->
            </div>
          </div>


          <!-- ./col -->
          <div class="col-lg-6 col-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
              <div class="inner">
                <h3>{{encours}}</h3>

                <p>Total Requete en cours</p>
              </div>
              <div class="icon">
                <i class="ion ion-play"></i>
              </div>
              <!-- <a href="#" class="small-box-footer"
                      >More info <i class="fas fa-arrow-circle-right"></i
                  ></a> -->
            </div>
          </div>

         <div class="col-lg-6 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>{{terminer}}</h3>

                <p>Total Requete Terminer</p>
              </div>
              <div class="icon">
                <i class="ion ion-star"></i>
              </div>
              <!-- <a href="#" class="small-box-footer"
                  >More info <i class="fas fa-arrow-circle-right"></i
              ></a> -->
            </div>
          </div>


        </div>
      </div>

    </div>
  </div>
</section>

<section class="content">
  <!-- Default box -->
  <div class="container-fluid">
    <div class="card">
      <div class="card-header row">
        <h2> Total d'intervention pour une période </h2>
      </div>
      <div class="card-header row">
        <h4 class="card-header" style="margin-left: 20%;">Date de début :</h4>
        <input type="date" [(ngModel)]="dateDebut">

        <h4 class="card-header" style="margin-left: 2%;">Date de fin :</h4>
        <input type="date" [(ngModel)]="dateFin">

        <button type="submit" class="btn btn-success" style="margin-left: 2%;border-radius: 100px" (click)="getPeriodStat(dateDebut,dateFin)">Charger</button>

      </div>
      <div class="card-body">

          <div id="container">
            <highcharts-chart [Highcharts]="chartOptions"></highcharts-chart>
          </div>


      </div>

    </div>
  </div>
</section>

